// Mixins in here
@mobile: ~'(max-width: 500px)';
@tablet: ~'(max-width: 800px)';
@desktop: ~'(max-width: 1500px)';

.flex(@justify, @align) {
    display: flex;
    justify-content: @justify;
    align-items: @align;
}

